In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os
import numpy as np

In [2]:
engine = create_engine('mysql+pymysql://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False)

In [3]:
book_genres = pd.read_sql("book_genres", con=engine) 

movie_genres = pd.read_sql("movie_genres", con=engine)

In [6]:
movie_genres['genre'].value_counts()
movie_genres.shape
#movie_genres['genre'].nunique()

(5155, 3)

In [9]:
matches = pd.read_sql("wiki_book_movie_ids_matching", con=engine) 


movie_genres = pd.merge(movie_genres, matches[['imdbid']], on="imdbid")
#movie_genres = movie_genres.drop(columns=["Unnamed: 0"])
movie_genres.head()

   index     imdbid    genre
0      0  tt0090576    Drama
1      1  tt0090576  History
2      2  tt0090576  Romance
3      3  tt0276751   Comedy
4      4  tt0276751    Drama

In [10]:
movie_genres.head()
matches.head()

,index,id,BookTitle,BookYear,Author,FilmTitle,FilmYear,full name,tmdb_id,id_goodreads,imdbid
0,0,3,De Aanslag,1982,Harry Mulisch,The Assault,1986,The Assault 1986,2753,1964904,tt0090576
1,1,4,About a Boy,1998,Nick Hornby,About a Boy,2002,About a Boy 2002,245,2770004,tt0276751
2,2,5,About Schmidt,1996,Louis Begley,About Schmidt,2002,About Schmidt 2002,2755,908745,tt0257360
3,3,6,Absolute Power,1996,David Baldacci,Absolute Power,1997,Absolute Power 1997,66,760769,tt0118548
4,4,7,The Accidental Tourist,1985,Anne Tyler,The Accidental Tourist,1988,The Accidental Tourist 1988,31052,60792,tt0094606

In [12]:
movie_genres = movie_genres.drop_duplicates()
movie_genres.shape
#movie_genres['genre'].value_counts()

(5155, 3)

In [55]:
#send back to databse
movie_genres.to_sql("movie_genres_clean", con=engine, schema="reviews", if_exists="replace", index=False)

In [13]:
book_genres.shape

(6861, 2)

In [4]:
book_genres = pd.merge(book_genres, matches[['id_goodreads']], left_on="book_id", right_on="id_goodreads")
book_genres = book_genres.drop(columns=["id_goodreads"])
book_genres = book_genres.drop_duplicates()
book_genres.shape

NameError: name 'matches' is not defined

In [5]:
book_genres['genre'].value_counts()
book_genres['book_id'].nunique()

1265

In [6]:
book_genres_edit = book_genres.copy()

In [7]:
#drop any genres that appear only once across all books
book_genres_edit = book_genres_edit[book_genres_edit['genre'].isin(book_genres_edit['genre'].value_counts()[book_genres_edit['genre'].value_counts()>1].index)]

In [8]:
book_genres_edit['book_id'].nunique()

1265

In [9]:
#drop repetitive subgenres
removal_list = ['Chick Lit', 'School', 'Mystery Thriller','Post Apocalyptic','Historical Fiction','Audiobook',
                "Read For School","Food","Espionage","Nature","Memoir","Americana","The United States Of America",
               "Theatre","Comic Book","Graphic Novels Comics","Sports and Games","Splatterpunk","Book Club", "Cats",
               "Dinosaurs","Soccer","Science Fiction Fantasy","Education","Historical Romance","Contemporary Romance",
               "Womens","Literary Fiction","Own","Dragons","Murder Mystery","United States","Magic", 
                "American Civil War","Southern Gothic","Gay","Queer","Glbt","Erotica","Novels","Funny",
                "Christian Fiction","American Fiction","Military"]

book_genres_edit = book_genres_edit[~book_genres_edit.genre.isin(removal_list)]

In [10]:
book_genres_edit['book_id'].nunique()

1265

In [11]:
book_genres_edit.shape

(5958, 3)

In [12]:
best_filter_options = book_genres_edit['genre'].value_counts(sort=True).index.tolist()[:30]

In [13]:
to_remove = ["Fiction","World War II","France","British Literature","Spy Thriller","Suspense"]
best_filter_options = [genre for genre in best_filter_options if genre not in to_remove]

In [14]:


book_genres_edit['possible_filter'] = np.where(book_genres_edit['genre'].isin(best_filter_options),
                                                                             1,0)

In [ ]:
book_genres_edit['possible_filter'] = np.where(book_genres_edit['genre'].isin(best_filter_options),
                                                                             1,0)

In [25]:
book_genres_edit[book_genres_edit.genre.isin(best_filter_options[:10])]['book_id'].nunique()

1085

In [28]:
book_genres_edit.to_sql("book_genres", con=engine, schema="reviews", if_exists="replace", index=False)

In [217]:
1199/1265

0.9478260869565217

In [17]:
best_filter_options[:5]

['Classics', 'Historical', 'Mystery', 'Thriller', 'Literature']