## Take the current LDA model and assign the primary topic to each book
### First create a "document" based on each book's set of reviews

In [1]:
from gensim.models.coherencemodel import CoherenceModel
from gensim.corpora import Dictionary
from gensim.models.ldamodel import LdaModel
import gensim
import pickle
import pandas as pd
from sqlalchemy import create_engine

C:\Anaconda3\lib\site-packages\gensim\utils.py:1209: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [16]:
topic_size = 25
fname = 'books_topics_' + str(topic_size) + '.gensim'
ldamodel = LdaModel.load(fname) #, mmap='r')

dictionary = Dictionary.load('books_dictionary.gensim')

In [5]:
#reviews_df = pd.read_csv('../Data_Processing/cleaned.csv')
engine = create_engine('mysql+mysqldb://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False) 
sqlstr = 'SET SESSION group_concat_max_len = 10000000;'
connection = engine.connect()
connection.execute(sqlstr)
sqlstr = 'select book_id, \
  group_concat(cleaned ORDER BY id SEPARATOR \' \') AS BookDesc \
from book_review_TopA_xT \
group by book_id'
books_df = pd.read_sql_query(con=connection, sql=sqlstr)

In [6]:
len(books_df.BookDesc[2])

55858

In [7]:
len(books_df)

1290

In [17]:
documents = books_df["BookDesc"].apply(lambda s: s.split(' '))
corpus = [dictionary.doc2bow(text) for text in documents]

corpus has the encoded values of the movies

In [18]:
# this is a fix for a bug in the model code.  It's fixed in the latest version but I don't have the latest
# See https://github.com/RaRe-Technologies/gensim/commit/1b07f81b8276a0ced35c11824deb961ed128246a
import numpy as np
ldamodel.dtype = np.float32

In [19]:
results = ldamodel.get_document_topics(corpus)

In [20]:
len(results)

1290

In [21]:
results_combined = [(id, result) for id, result in zip(books_df.book_id, results)]

In [22]:
results2 = [(id, r[0], r[1]) for id,res in results_combined for r in res]

In [23]:
results2[0:3]

[(1, 1, 0.059231706), (1, 2, 0.21277377), (1, 3, 0.014783325)]

In [24]:
data = pd.DataFrame(results2, columns=['book_id','topicid','topicprob']).set_index(['book_id','topicid'], inplace=False)

In [25]:
data.shape

(19433, 1)

In [26]:
data[0:10]

                 topicprob
book_id topicid
1       1         0.059232
        2         0.212774
        3         0.014783
        4         0.026242
        5         0.050150
        7         0.035432
        8         0.021628
        9         0.119860
        10        0.016375
        11        0.018870

In [ ]:
#from sqlalchemy import create_engine

In [28]:
# create the table first because otherwise there will be an error due to the imdbid field being text
# See Topics_By_IMDBID.sql
engine = create_engine('mysql+mysqldb://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False) 
data.to_sql("book_topics_by_book_id", con=engine, schema="reviews", if_exists="append")