In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("imdb-ratings.tsv",sep='\t')

In [3]:
df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.8      1465
1  tt0000002            6.4       176
2  tt0000003            6.6      1089
3  tt0000004            6.5       105
4  tt0000005            6.2      1795

In [4]:
imdb_list = pd.read_csv("tmdb_to_imdb_id_mapping.csv")
imdb_list.drop(columns=['Unnamed: 0'], inplace=True)
imdb_list.head()

   tmdbid     imdbid
0    2753  tt0090576
1     245  tt0276751
2    2755  tt0257360
3      66  tt0118548
4   31052  tt0094606

In [5]:
imdb_list = imdb_list.merge(df, left_on="imdbid", right_on="tconst", how="left")

In [6]:
imdb_list.head()

   tmdbid     imdbid     tconst  averageRating  numVotes
0    2753  tt0090576  tt0090576            7.3    2823.0
1     245  tt0276751  tt0276751            7.1  158912.0
2    2755  tt0257360  tt0257360            7.2  116379.0
3      66  tt0118548  tt0118548            6.7   45519.0
4   31052  tt0094606  tt0094606            6.8   13738.0

In [7]:
imdb_list['numVotes'].apply(lambda x: round(x,0))

0         2823.0
1       158912.0
2       116379.0
3        45519.0
4        13738.0
5         4239.0
6         8703.0
7        37334.0
8          677.0
9          329.0
10         579.0
11       11456.0
12         394.0
13          68.0
14          61.0
15         991.0
16          45.0
17        1200.0
18         486.0
19         142.0
20          47.0
21        2262.0
22         119.0
23        7133.0
24        8859.0
25      113314.0
26          10.0
27         547.0
28         197.0
29          15.0
          ...
2228       307.0
2229     22079.0
2230       263.0
2231        77.0
2232      2957.0
2233         NaN
2234     23199.0
2235      1521.0
2236      2933.0
2237      2007.0
2238      2901.0
2239     14671.0
2240      1562.0
2241       953.0
2242     84244.0
2243      2623.0
2244     17714.0
2245      3742.0
2246       816.0
2247     21904.0
2248       655.0
2249     86740.0
2250        85.0
2251        84.0
2252     12544.0
2253       105.0
2254      2547.0
2255       218.0
2256      4667.0
2257     18389.0
Name: numVotes, Length: 2258, dtype: float64