In [3]:
import pandas as pd
from sqlalchemy import create_engine
# engine1 = create_engine('mysql+pymysql://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False) 
engine1 = create_engine('mysql+mysqldb://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False)

In [4]:
Tables = ["actor_test_table","book_data_cleaned","book_genres","book_match","book_review_cleaned1",
          "book_review_TopA_xT","book_review_topics","book_reviews","book_topic_descriptions","book_topics",
          "book_topics_by_book_id","books","booksmovies","movie_actor_director",
          "movie_genres","movie_overall_data","movie_review_cleaned1","movie_review_TopA_xT",
          "movie_review_topics","movie_reviews",
          "movie_topic_descriptions","movie_topics","movie_topics_by_imdb","movies",
          "tmdb_to_imdb_id_mapping","wiki_book_movie_ids_matching","WordDifferences"]

In [5]:
engine2 = create_engine('mysql+mysqldb://dva:DVA2019!@localhost/reviews?charset=utf8', echo=False)

In [8]:
for table in Tables:
    print (table)
    data = pd.read_sql(table, con=engine1)
    data.to_sql(table, con=engine2, schema="reviews", if_exists="append", index=False)

actor_test_table
book_data_cleaned
book_genres
book_match
book_review_cleaned1
book_review_TopA_xT

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'book_review_TopA_xT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

book_review_topics
book_reviews
book_topic_descriptions
book_topics
book_topics_by_book_id
books
booksmovies
movie_actor_director
movie_genres
movie_overall_data
movie_review_cleaned1
movie_review_TopA_xT

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'movie_review_TopA_xT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

movie_review_topics
movie_reviews
movie_topic_descriptions
movie_topics
movie_topics_by_imdb
movies
tmdb_to_imdb_id_mapping
wiki_book_movie_ids_matching
WordDifferences

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'WordDifferences' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)