In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [2]:
engine = create_engine('mysql+pymysql://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False) 

#books.to_sql("book_data", con=engine, schema="reviews", if_exists="append", index=False)

In [21]:
books = pd.read_sql("book_data_cleaned", con=engine) 

books.shape

(1339, 16)

In [23]:
normalized_books = pd.read_sql("books", con=engine) 
normalized_books.shape

(1339, 19)

In [10]:
normalized_books = normalized_books.drop_duplicates()
normalized_books.head()
normalized_books=normalized_books.drop([287, 1051,1547])
normalized_books.shape

(1339, 17)

In [ ]:
#movies_tmdb = pd.read_sql("budget_rev_runtime_poster", con=engine)

In [ ]:
#movies_ratings = pd.read_sql("imdb_ratings_votes", con=engine)

In [ ]:
#movie_overall_data = pd.merge(movies_tmdb, movies_ratings, how="outer", on=["tmdbid"])

In [ ]:
#movie_overall_data = movie_overall_data.drop(columns=["Unnamed: 0_x","index_y","Unnamed: 0_y","imdbid_y","tconst"])
#movie_overall_data = movie_overall_data.rename(columns={"index_x": "index","imdbid_x":"imdbid"})

In [ ]:
#movie_overall_data.to_sql("movie_overall_data", con=engine, schema="reviews", if_exists="append", index=False)

In [ ]:
movies = pd.read_sql("movie_overall_data", con=engine)

In [ ]:
movies.shape

In [12]:
movies_ids = pd.read_sql("wiki_book_movie_ids_matching", con=engine)

In [ ]:
movies_ids.tail()

In [ ]:
movies_ids.head()

In [ ]:
#remove movies that we didn't get a book id match for
movies_with_goodreads_id = pd.merge(movies, movies_ids[["id_goodreads","tmdb_id"]], left_on="tmdbid", right_on="tmdb_id")
movies_with_goodreads_id = movies_with_goodreads_id.drop(columns=["tmdb_id"])

In [ ]:
movies_with_goodreads_id = movies_with_goodreads_id.drop_duplicates()
movies.shape
movies_with_goodreads_id.shape

In [13]:
#remove books we didn't get a
books_with_movie_id = pd.merge(normalized_books, movies_ids[["id_goodreads"]], left_on="book_id", right_on="id_goodreads")
books_with_movie_id = books_with_movie_id.drop(columns=["id_goodreads"])

In [14]:
books_with_movie_id = books_with_movie_id.drop_duplicates()
books.shape
books_with_movie_id.shape

(1339, 17)

In [16]:
#movie_max = max(movies_with_goodreads_id['averageRating'])
#movie_min = min(movies_with_goodreads_id['averageRating'])

book_min = min(books_with_movie_id['avg_rating'])
book_max = max(books_with_movie_id['avg_rating'])

In [17]:
#movies_with_goodreads_id['standardized_rating'] = (movies_with_goodreads_id['averageRating']-movies_with_goodreads_id['averageRating'].mean())/movies_with_goodreads_id['averageRating'].std()

books_with_movie_id['standardized_rating'] = (books_with_movie_id['avg_rating']-books_with_movie_id['avg_rating'].mean())/books_with_movie_id['avg_rating'].std()

In [18]:
books_with_movie_id['normalized_rating'] = (books_with_movie_id['avg_rating']-book_min)/(book_max-book_min)
#movies_with_goodreads_id['normalized_rating'] = (movies_with_goodreads_id['averageRating']-movie_min)/(movie_max-movie_min)

In [19]:
books_with_movie_id.head()

,book_id,title,year,avg_rating,rating_count,review_count,series,series_num,author,description,length,five_stars,four_stars,three_stars,two_stars,one_star,cover_image,standardized_rating,normalized_rating
0,1964904.0,The Assault,1982,3.71,9367.0,390.0,,,Harry Mulisch,"It is the winter of 1945, the last dark days o...",185,1736.0,4093.0,2734.0,648.0,156.0,https://images.gr-assets.com/books/1547811518l...,-0.471058,0.570000
1,2770004.0,About A Boy,1998,3.80,117323.0,3027.0,,,Nick Hornby,'How cool was Will Freeman'Too cool! At thirty...,286,24807.0,51876.0,33618.0,5850.0,1172.0,https://images.gr-assets.com/books/1347049451l...,-0.158221,0.600000
2,1171639.0,Adams Fall,2000,3.28,88.0,12.0,,,Sean Desmond,With the fall of his senior year at the Colleg...,272,15.0,22.0,31.0,13.0,7.0,https://images.gr-assets.com/books/1311998318l...,-1.965724,0.426667
3,56649.0,The Adventurers,1966,3.87,1313.0,51.0,,,Harold Robbins,From the author of The New York Times #1 best-...,712,389.0,486.0,340.0,80.0,18.0,https://images.gr-assets.com/books/1411687302l...,0.085097,0.623333
4,41096625.0,The Adventures of Hajji Baba of Ispahan,1824,4.29,7.0,2.0,,,James Justinian Morier,The Adventures of Hajji Baba of Ispahan by Jam...,750,3.0,3.0,1.0,0.0,0.0,https://images.gr-assets.com/books/1534260697l...,1.545003,0.763333

In [ ]:
movies_with_goodreads_id['goodreads_scale_rating'] = movies_with_goodreads_id['averageRating']/2

In [ ]:
movies_with_goodreads_id.head()

In [20]:
#movies_with_goodreads_id.to_sql("movie_overall_data", con=engine, schema="reviews", if_exists="replace", index=False) 
books_with_movie_id.to_sql('books',con=engine, schema="reviews", if_exists="replace", index=False)

In [ ]:
movies_ids.to_csv("map.csv")

In [ ]:
movies_with_goodreads_id_sendback = movies_with_goodreads_id.drop(columns=["id_goodreads"])
movies_with_goodreads_id_sendback = movies_with_goodreads_id_sendback.drop_duplicates()
movies.shape
movies_with_goodreads_id_sendback.shape

In [ ]:
movies_with_goodreads_id_sendback.to_sql("movie_overall_data", con=engine, schema="reviews", if_exists="replace", index=False)

In [ ]:
movies_with_goodreads_id_sendback.tail()