In [42]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [43]:
engine = create_engine('mysql+pymysql://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False) 

#books.to_sql("book_data", con=engine, schema="reviews", if_exists="append", index=False)

In [44]:
books = pd.read_sql("book_data", con=engine)

In [45]:
#movies_tmdb = pd.read_sql("budget_rev_runtime_poster", con=engine)

In [46]:
#movies_ratings = pd.read_sql("imdb_ratings_votes", con=engine)

In [47]:
#movie_overall_data = pd.merge(movies_tmdb, movies_ratings, how="outer", on=["tmdbid"])

In [48]:
#movie_overall_data = movie_overall_data.drop(columns=["Unnamed: 0_x","index_y","Unnamed: 0_y","imdbid_y","tconst"])
#movie_overall_data = movie_overall_data.rename(columns={"index_x": "index","imdbid_x":"imdbid"})

In [49]:
#movie_overall_data.to_sql("movie_overall_data", con=engine, schema="reviews", if_exists="append", index=False)

In [50]:
movies = pd.read_sql("movie_overall_data", con=engine)

In [51]:
movies.shape

(2258, 9)

In [52]:
movies_ids = pd.read_sql("wiki_book_movie_ids_matching", con=engine)

In [53]:
movies_ids.tail()

,index,id,BookTitle,BookYear,Author,FilmTitle,FilmYear,full name,tmdb_id,id_goodreads,imdbid
2257,2257,3341,Young Adam,1957,Alexander Trocchi,Young Adam,2003,Young Adam 2003,237,1523171,tt0289635
2258,2258,3342,Young Man of Manhattan,1930,Katharine Brush,Young Man of Manhattan,1930,Young Man of Manhattan 1930,198227,8598922,tt0021568
2259,2259,3343,Young Man with a Horn,1938,Dorothy Baker,Young Man with a Horn,1950,Young Man with a Horn 1950,34623,13330372,tt0043153
2260,2260,3349,Zazie in the Metro,1959,Raymond Queneau,Zazie dans le Métro,1960,Zazie dans le Métro 1960,2546,28369,tt0054494
2261,2261,3352,Zorba the Greek,1946,Nikos Kazantzakis,Zorba the Greek,1964,Zorba the Greek 1964,10604,53639,tt0057831

In [54]:
movies_ids.head()

,index,id,BookTitle,BookYear,Author,FilmTitle,FilmYear,full name,tmdb_id,id_goodreads,imdbid
0,0,3,De Aanslag,1982,Harry Mulisch,The Assault,1986,The Assault 1986,2753,1964904,tt0090576
1,1,4,About a Boy,1998,Nick Hornby,About a Boy,2002,About a Boy 2002,245,2770004,tt0276751
2,2,5,About Schmidt,1996,Louis Begley,About Schmidt,2002,About Schmidt 2002,2755,908745,tt0257360
3,3,6,Absolute Power,1996,David Baldacci,Absolute Power,1997,Absolute Power 1997,66,760769,tt0118548
4,4,7,The Accidental Tourist,1985,Anne Tyler,The Accidental Tourist,1988,The Accidental Tourist 1988,31052,60792,tt0094606

In [55]:
#remove movies that we didn't get a book id match for
movies_with_goodreads_id = pd.merge(movies, movies_ids[["id_goodreads","tmdb_id"]], left_on="tmdbid", right_on="tmdb_id")
movies_with_goodreads_id = movies_with_goodreads_id.drop(columns=["tmdb_id"])

In [56]:
movies_with_goodreads_id = movies_with_goodreads_id.drop_duplicates()
movies.shape
movies_with_goodreads_id.shape

(2208, 10)

In [57]:
#remove books we didn't get a
books_with_movie_id = pd.merge(books, movies_ids[["id_goodreads"]], left_on="book_id", right_on="id_goodreads")
books_with_movie_id = books_with_movie_id.drop(columns=["id_goodreads"])

In [58]:
books_with_movie_id = books_with_movie_id.drop_duplicates()
books.shape
books_with_movie_id.shape

(1339, 15)

In [59]:
movie_max = max(movies_with_goodreads_id['averageRating'])
movie_min = min(movies_with_goodreads_id['averageRating'])

book_min = min(books_with_movie_id['avg_rating'])
book_max = max(books_with_movie_id['avg_rating'])

In [60]:
movies_with_goodreads_id['standardized_rating'] = (movies_with_goodreads_id['averageRating']-movies_with_goodreads_id['averageRating'].mean())/movies_with_goodreads_id['averageRating'].std()

books_with_movie_id['standardized_rating'] = (books_with_movie_id['avg_rating']-books_with_movie_id['avg_rating'].mean())/books_with_movie_id['avg_rating'].std()

In [61]:
books_with_movie_id['normalized_rating'] = (books_with_movie_id['avg_rating']-book_min)/(book_max-book_min)
movies_with_goodreads_id['normalized_rating'] = (movies_with_goodreads_id['averageRating']-movie_min)/(movie_max-movie_min)

In [63]:
books_with_movie_id.head()

,book_id,avg_rating,rating_count,review_count,title,series,author,description,length,five_stars,four_stars,three_stars,two_stars,one_star,cover_image,standardized_rating,normalized_rating
0,915001,4.15,13694,197,Beaches,None,Iris Rainer Dart,"Loudmouthed, redheaded Cee Cee Bloom has her s...",276 pages,6086.0,4410.0,2493.0,551.0,154.0,https://images.gr-assets.com/books/1387709464l...,1.058368,0.716667
1,7199539,3.50,30,3,All the Brothers Were Valiant,None,Ben Ames Williams,Ben Ames Williams (1889-1953) was an American ...,92 pages,6.0,8.0,12.0,3.0,1.0,https://images.gr-assets.com/books/1347685869l...,-1.201011,0.500000
4,17214,4.00,167445,4790,Starship Troopers,None,Robert A. Heinlein,The historians can’t seem to settle whether to...,335 pages,59706.0,61467.0,35609.0,8294.0,2369.0,https://images.gr-assets.com/books/1533117961l...,0.536973,0.666667
6,310918,3.57,21183,1540,The Cement Garden,None,Ian McEwan,"In this tour de force of psychological unease,...",138 pages,3948.0,7769.0,6571.0,2152.0,743.0,https://images.gr-assets.com/books/1436050036l...,-0.957694,0.523333
7,3590,4.31,210960,5685,The Adventures of Sherlock Holmes,(Sherlock Holmes #3),Arthur Conan Doyle,A Scandal in Bohemia The Adventure of the Red-...,339 pages,102176.0,76738.0,27574.0,3405.0,1067.0,https://images.gr-assets.com/books/1164045516l...,1.614522,0.770000

In [64]:
movies_with_goodreads_id['goodreads_scale_rating'] = movies_with_goodreads_id['averageRating']/2

In [65]:
movies_with_goodreads_id.head()

,index,tmdbid,imdbid,budget,revenue,runtime,poster_path,averageRating,numVotes,id_goodreads,standardized_rating,normalized_rating,goodreads_scale_rating
0,0,2753,tt0090576,0,203781,124.0,/roLUdrbcpFiWjIqs2NbpItR74KE.jpg,7.3,2823.0,1964904,0.768571,0.732394,3.65
1,1,245,tt0276751,27000000,129000000,101.0,/1kz4Q2v7cxwNnTfkjrujzWAVCne.jpg,7.1,158912.0,2770004,0.570745,0.704225,3.55
2,2,2755,tt0257360,30000000,105834556,125.0,/riJV5Bq0IXItG3ceywNWkw7il7K.jpg,7.2,116379.0,908745,0.669658,0.718310,3.60
3,3,66,tt0118548,50000000,50068310,121.0,/oJQdp09Oc51DkArsMDvgDLdWiDu.jpg,6.7,45519.0,760769,0.175092,0.647887,3.35
4,4,31052,tt0094606,0,0,121.0,/dyk2BqPajLRBpVQ6jsSJJdgfuXe.jpg,6.8,13738.0,60792,0.274005,0.661972,3.40

In [67]:
movies_with_goodreads_id.to_sql("movie_overall_data", con=engine, schema="reviews", if_exists="replace", index=False) 
#books_with_movie_id.to_sql('book_data',con=engine, schema="reviews", if_exists="replace", index=False)

In [39]:
movies_ids.to_csv("map.csv")

In [68]:
movies_with_goodreads_id_sendback = movies_with_goodreads_id.drop(columns=["id_goodreads"])
movies_with_goodreads_id_sendback = movies_with_goodreads_id_sendback.drop_duplicates()
movies.shape
movies_with_goodreads_id_sendback.shape

(2180, 12)

In [69]:
movies_with_goodreads_id_sendback.to_sql("movie_overall_data", con=engine, schema="reviews", if_exists="replace", index=False)

In [70]:
movies_with_goodreads_id_sendback.tail()

,index,tmdbid,imdbid,budget,revenue,runtime,poster_path,averageRating,numVotes,standardized_rating,normalized_rating,goodreads_scale_rating
2241,2252,237,tt0289635,6400000,2500000,93.0,/j5AElm05tPLuSNOeSQQOc3JXA1V.jpg,6.5,12544.0,-0.022735,0.619718,3.25
2242,2253,198227,tt0021568,0,0,79.0,/zuOcwbS2pudqK91CUyO6ssWoQlW.jpg,6.4,105.0,-0.121648,0.605634,3.20
2243,2254,34623,tt0043153,0,0,113.0,/fCM4Guj2poyGcGC9yYIM8cXaIu6.jpg,7.2,2547.0,0.669658,0.718310,3.60
2244,2256,2546,tt0054494,0,0,93.0,/nqT3FJxYye3c17phUYyBim8yMrj.jpg,7.0,4667.0,0.471831,0.690141,3.50
2245,2257,10604,tt0057831,783000,0,142.0,/gLk4tDNKpOIq4ZUL15qX3YWDkxY.jpg,7.7,18389.0,1.164225,0.788732,3.85