## Take the current LDA model and assign the primary topic to each movie
### First create a "document" based on each movie's set of reviews

In [1]:
from gensim.models.coherencemodel import CoherenceModel
from gensim.corpora import Dictionary
from gensim.models.ldamodel import LdaModel
import gensim
import pickle
import pandas as pd
from sqlalchemy import create_engine

C:\Anaconda3\lib\site-packages\gensim\utils.py:1209: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [2]:
topic_size = 30
fname = 'movies_topics_' + str(topic_size) + '.gensim'
ldamodel = LdaModel.load(fname) #, mmap='r')

corpus = pickle.load(open('movies_corpus.pkl', 'rb'))
dictionary = Dictionary.load('movies_dictionary.gensim')

In [3]:
len(corpus)

260682

In [4]:
#reviews_df = pd.read_csv('../Data_Processing/cleaned.csv')
engine = create_engine('mysql+mysqldb://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False) 
sqlstr = 'SET SESSION group_concat_max_len = 10000000;'
connection = engine.connect()
connection.execute(sqlstr)
sqlstr = 'select imdbid, \
  group_concat(cleaned ORDER BY review_seq SEPARATOR \' \') AS MovieDesc \
from movie_review_TopA_xT \
group by imdbid'
movies_df = pd.read_sql_query(con=connection, sql=sqlstr)

In [5]:
len(movies_df.MovieDesc[2])

6518

In [6]:
len(movies_df)

2030

In [9]:
documents = movies_df["MovieDesc"].apply(lambda s: s.split(' '))
corpus = [dictionary.doc2bow(text) for text in documents]

corpus has the encoded values of the movies

In [10]:
# this is a fix for a bug in the model code.  It's fixed in the latest version but I don't have the latest
# See https://github.com/RaRe-Technologies/gensim/commit/1b07f81b8276a0ced35c11824deb961ed128246a
import numpy as np
ldamodel.dtype = np.float32

In [11]:
results = ldamodel.get_document_topics(corpus)

In [12]:
len(results)

2030

In [13]:
results_combined = [(id, result) for id, result in zip(movies_df.imdbid, results)]

In [14]:
results2 = [(id, r[0], r[1]) for id,res in results_combined for r in res]

In [15]:
results2[0:3]

[('tt0000235', 0, 0.11116054),
 ('tt0000235', 6, 0.04675208),
 ('tt0000235', 9, 0.07273745)]

In [16]:
data = pd.DataFrame(results2, columns=['imdbid','topicid','topicprob']).set_index(['imdbid','topicid'], inplace=False)

In [17]:
data.shape

(30617, 1)

In [18]:
data[0:10]

                   topicprob
imdbid    topicid
tt0000235 0         0.111161
          6         0.046752
          9         0.072737
          11        0.110062
          12        0.158620
          23        0.128316
          25        0.010374
          26        0.013346
          29        0.298914
tt0000417 0         0.101048

In [ ]:
#from sqlalchemy import create_engine

In [20]:
# create the table first because otherwise there will be an error due to the imdbid field being text
# See Topics_By_IMDBID.sql
engine = create_engine('mysql+mysqldb://dva:DVA2019!@dvaproject.c9f0lti9xqdg.us-east-1.rds.amazonaws.com/reviews?charset=utf8', echo=False) 
data.to_sql("movie_topics_by_imdb", con=engine, schema="reviews", if_exists="append")